<link rel='stylesheet' href='/stylesheets/admin.css' />

<div class="g-menu">
  <button id='init'>初始化</button>
  <button id='start' class="green">开始</button>
  <button id='mark'  class="grey">打分</button>
  <button id='next'  class="grey">下一个</button>
  <button id='end'   class="grey">结束</button>
</div>

